@charset "ISO-8859-1";
.home-main{
			background: #475f96;
			color:#fff;
			padding: 13%;
			text-align: center;
			
		}
		.blinker{
			animation: blinker 1.5s linear infinite;
		}
		@keyframes blinker {
		  50% {
			opacity: 0;
		  }
		}
		.home-main button{
			background: #fff;
			color: #5812c5;
			border-radius: 20px;
			font-weight: 700;
			width: 16%;
			height: 50px;
			top: 7%;
			margin-top: 10%;
			margin-left: 4%
		}
		.home-main button:hover{
			transition: 1s ease;
			color:#0000a0;
			width: 19%;
		}
		.content1-left{
			padding:6%;
			
		}
		.content1-right{
			padding:6%;
			background:#e4e4e4;
		}
		.home-content2{
			background: #adb5bd;
			padding: 1.4%;
			text-align: center;	
		}
		.home-content2 p{
			font-size: 18px;
			line-height: 50px;
		}
		.home-content2 p span{
			font-weight: 500;
		}
		
		